<div class="container">
    <h3 class="mb-3">{{ tarefa ? 'Editar Tarefa' : 'Nova Tarefa' }}</h3>

    <form (ngSubmit)="salvar()">
        <div class="mb-3">
            <label class="form-label" for="matricula">Matrícula:</label>
            <select [(ngModel)]="tarefaRequest.matriculaId" class="form-select" id="matricula" name="matriculaId" required>
                <option value="0">Selecione uma matrícula</option>
                <option *ngFor="let matricula of matriculas" [value]="matricula.id">
                    {{ matricula.usuarioNome }} - {{ matricula.cursoNome }}
                </option>
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label" for="categoria">Categoria:</label>
            <select [(ngModel)]="tarefaRequest.categoriaId" class="form-select" id="categoria" name="categoriaId" required>
                <option value="0">Selecione uma categoria</option>
                <option *ngFor="let categoria of categorias" [value]="categoria.id">
                    {{ categoria.tipo }}
                </option>
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label" for="dataTarefa">Data da Tarefa:</label>
            <input
                    [(ngModel)]="tarefaRequest.dataTarefa"
                    class="form-control"
                    id="dataTarefa"
                    name="dataTarefa"
                    required
                    type="date">
        </div>

        <div class="mb-3">
            <label class="form-label" for="descricao">Descrição:</label>
            <textarea
                    [(ngModel)]="tarefaRequest.descricao"
                    class="form-control"
                    id="descricao"
                    name="descricao"
                    placeholder="Descreva a tarefa realizada..."
                    rows="3">
            </textarea>
        </div>

        <div class="mb-3">
            <label class="form-label" for="tempoGasto">Tempo Gasto (minutos):</label>
            <input
                    [(ngModel)]="tarefaRequest.tempoGastoMinutos"
                    class="form-control"
                    id="tempoGasto"
                    min="0"
                    name="tempoGastoMinutos"
                    placeholder="Ex: 120"
                    type="number">
        </div>

        <div class="d-grid gap-2 mt-3">
            <button class="btn btn-primary" type="submit">
                {{ tarefa ? 'Atualizar' : 'Salvar' }}
            </button>
            <button (click)="resetarFormulario()" class="btn btn-secondary" type="button">
                Limpar
            </button>
        </div>
    </form>
</div>
