<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">Novo Curso</h4>
                </div>
                <div class="card-body">
                    <app-curso-form
                            (cancelar)="onCancelar()"
                            (cursoSalvo)="onCursoSalvo($event)">
                    </app-curso-form>

                </div>
                <div class="card-footer bg-light">
                    <button (click)="onCancelar()" class="btn btn-secondary">
                        <i class="bi bi-x-circle me-2"></i>
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
