<div class="container">
    <h3 class="mb-3">Nova Matrícula</h3>

    <form (ngSubmit)="salvar()">
        <div class="mb-3">
            <label class="form-label">Estudante:</label>
            <div class="form-control-plaintext">
                {{ authService.getNomeUsuario() }}
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label" for="curso">Curso:</label>
            <select [(ngModel)]="matriculaRequest.cursoId" class="form-select" id="curso" name="cursoId" required>
                <option value="0">Selecione um curso</option>
                <option *ngFor="let curso of cursos" [value]="curso.id">{{ curso.nome }}</option>
            </select>
        </div>

        <div class="d-grid gap-2 mt-3">
            <button class="btn btn-primary" type="submit">
                Matricular
            </button>
            <button (click)="resetarFormulario()" class="btn btn-secondary" type="button">
                Limpar
            </button>
        </div>
    </form>
</div>
