<div class="container mt-4">
    <h3 class="mb-3">Matrículas</h3>

    <div *ngIf="matriculas.length === 0" class="alert alert-info">
        <p>Nenhuma matrícula encontrada.</p>
    </div>

    <div *ngIf="matriculas.length > 0" class="row">
        <div *ngFor="let matricula of matriculas" class="col-md-6 mb-4">
            <div class="card">
                <div class="card-header">
                    <h4>{{ matricula.cursoNome }}</h4>
                </div>

                <div class="card-body">
                    <p><strong>Data de Inscrição:</strong> {{ formatarData(matricula.dataInscricao) }}</p>
                </div>

                <div class="card-footer text-end">
                    <button (click)="cancelar(matricula.id!)" class="btn btn-danger btn-sm">Cancelar Matrícula</button>
                </div>
            </div>
        </div>
    </div>
</div>