<div class="tarefas-page">
    <h1>Gerenciar Tarefas</h1>

    <section class="section">
        <h2>{{ tarefaParaEdicao ? 'Editar Tarefa' : 'Nova Tarefa' }}</h2>
        <app-tarefa-form
                (tarefaSalva)="onTarefaSalva($event)"
                [tarefa]="tarefaParaEdicao">
        </app-tarefa-form>
    </section>

    <section class="section">
        <h2>Lista de Tarefas</h2>
        <app-tarefa-list
                (tarefaEditada)="onTarefaEditada($event)"
                (tarefaExcluida)="onTarefaExcluida($event)"
                [tarefas]="tarefas">
        </app-tarefa-list>
    </section>
</div>
