<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow p-4 w-100" style="max-width: 400px;">
        <h2>Login</h2>
        <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="email" class="form-label">E-mail *</label>
                <input
                        [(ngModel)]="login.email"
                        class="form-control"
                        id="email"
                        name="email"
                        placeholder="Digite seu e-mail"
                        required
                        type="email">
            </div>

            <div class="mb-3">
                <label for="senha" class="form-label">Senha *</label>
                <input
                        [(ngModel)]="login.senha"
                        class="form-control"
                        id="senha"
                        name="senha"
                        placeholder="Digite sua senha"
                        required
                        type="password">
            </div>

            <div class="d-grid gap-2 mt-3">
                <button
                        [disabled]="!loginForm.form.valid"
                        class="btn btn-primary"
                        type="submit">
                    Entrar
                </button>
                <button
                        (click)="cancelar()"
                        class="btn btn-secondary"
                        type="button">
                    Cancelar
                </button>
            </div>

            <div class="text-center mt-3 pt-3 border-top">
                <p>Não tem uma conta?
                    <a (click)="irParaRegistro()" class="text-primary" routerLink="/registro" routerLinkActive="active">Registrar-se</a>
                </p>
            </div>
        </form>
    </div>
</div>
